@{
	Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Ласкаво просимо!";
	string message = ViewBag.Message;
}
@section pageStyleSheets
{
	<link rel="stylesheet" href="~/css/login-form.css" />
}
@section pageScripts
{

}

<h1>Some working page will be here soon...</h1>