
body {
	position: fixed;
	height: 100vh;
	width: 100vw;
}


#main-panel * {
	border-radius: 0;
}

#main-panel {
	height: 100%;
	font-size: 28px;
}

	#main-panel > .panel-heading {
		background: #161C66;
		padding-left: 24px;
	}

	#main-panel .title-cyan {
		color: #01BEE2;
		font-size: inherit;
	}

	#main-panel .title-white {
		color: #FCFCFF;
		font-size: inherit;
		font-weight: bolder;
	}
